{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>
<li>
    <ul>Daniel Nunes</ul>
    <ul>Gustavo Zaik</ul>
    <ul>Ivo Santana</ul>
    <ul>Jhonatan Rafael</ul>
    <ul>João Carlos</ul>
    <ul>Luka Gabriel</ul>
</li>
<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
